    <div class="credits text-center">
        <p>
           Made by <a href="http://linkedin.com/in/nancytao42">Nancy Tao</a> and <a href="http://linkedin.com/in/seantitus">Sean Titus</a> and Stefan Young
        </p>
    </div>
</body>
</html>
