    <div class="credits text-center">
        <p>
           Made by <a href="http://linkedin.com/in/nancytao42">Nancy Tao</a>,
           <a href="http://linkedin.com/in/seantitus">Sean Titus</a>, and
           <a href="https://www.linkedin.com/in/stefan-young-517b54126">Stefan Young</a>
        </p>
    </div>
</body>
</html>
