
<h1>Review Offers</h1>
<div class="form-container">
    <form method="post">
        <div ng-repeat="offer in vm.user.offers" id="{{offer.id}}modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="company">Company Name</label>
                            <input type="text" id={{offer.id}}+"company" class="form-control" ng-model=offer["company"]>
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <input type="text" id={{offer.id}}+"role" class="form-control" ng-model=offer["role"]>
                        </div>
                        <div class="form-group">
                            <label for="payrate">Pay Rate</label>
                            <input type="text" id={{offer.id}}+"payrate" class="form-control" ng-model=offer["payrate"]>
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" id={{offer.id}}+"location" class="form-control" ng-model=offer["location"]>
                        </div>
                        <div class="form-group">
                            <label for="replyby">Reply By Date</label>
                            <input type="date" id={{offer.id}}+"replyby" class="form-control" ng-model=offer["replyby"]>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="vm.saveOffers()" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Role</th>
                    <th>Pay Rate (Hourly)</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="internship in vm.user.internships" ng-if="internship.status == 'Offered'">
                    <td>{{internship.companyName}}</td>
                    <td>{{internship.role}}</td>
                    <td>{{internship.recruiter}}</td>
                    <td>{{internship.location}}</td>
                    <td><button data-toggle="modal" data-target="#{{internship.id}}modal" type="button" class="btn btn-default">Edit</button></td>
                    <td><button class="btn btn-danger" ng-click="vm.rejectOffer(internship.id)">Reject Offer</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>